* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: lightblue;
    padding: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}


.left-section {
    width: 40%;
    background: #FCD8CC;
    padding: 20px;
    border-radius: 5px;
}


.income-expense {
    background: #f5f5f5;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.income-expense input {
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: bold;
    background: transparent;
    text-align: left;
}


.transaction-form {
    background: #622b68;
    padding: 15px;
    border-radius: 5px;
}

.transaction-form label {
    display: block;
    margin-top: 10px;
}


.right-section {
    width: 55%;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    background: rgb(5, 120, 165);
}

table, th, td {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #145868;
    color: white;
}
